.title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: large;
    color: white;
    min-width: 300px;
}

.list {
    margin-left: 50px;
    margin-right: 40px;
}

.restaurantNames {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    text-align: left;
}

.scroll {
    height: 450px; 
    width: 110%;
    overflow: hidden; 
    overflow-y: scroll;
}

.details {
    text-align: left;
}

.detailItem {
    margin-top: 10px;
    margin-bottom: 10px
}